### Tuples:

* Tuple is as same as the list data sturcture,only difference is the elements cannot be changed once assigned.
* Tuple is immutable.
* () --- tuple format

In [1]:
a = (1,2,3,45,6)

In [2]:
a

(1, 2, 3, 45, 6)

In [3]:
type(a)

tuple

In [4]:
### Accessing the elements from the tuple:
a[-2] ## backward indexing

45

In [6]:
a[3] ## forward indexing

45

In [9]:
a[2:] ## accessing the last three elements.

(3, 45, 6)

In [8]:
a[::-1]  ### reversing the tuple

(6, 45, 3, 2, 1)

In [10]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [12]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [13]:
a = ("one","two","one","two","three","four")
a

('one', 'two', 'one', 'two', 'three', 'four')

In [14]:
### count method

a.count("one")

2

In [15]:
a.count("four")

1

In [16]:
### index method:

a.index("one")

0

In [17]:
a.index("four")

5

In [21]:
### iterating the elements in tuple:

for i in a:
    print(i,end = " ")

one two one two three four

In [22]:
### Membership operators in tuple:

a

('one', 'two', 'one', 'two', 'three', 'four')

In [23]:
"one" in a

True

In [24]:
"five" in a

False

In [25]:
"five" not in a

True

In [26]:
### sorting in tuple:

a

('one', 'two', 'one', 'two', 'three', 'four')

In [27]:
sorted(a)

['four', 'one', 'one', 'three', 'two', 'two']

In [28]:
a = (1,2,3,454,768,1,3)

In [31]:
sorted(a)   ### ascending order

[1, 1, 2, 3, 3, 454, 768]

In [30]:
sorted(a,reverse = True)  ### descending order

[768, 454, 3, 3, 2, 1, 1]

### Set:
* unindexed and unordered collection of elements.
* set won't allow duplicate values.
* set elements  are immutable
* set itself is mutable.
* {} -- set structure

In [32]:
s = {1,2,3,3,4,5,5,1,6,23,8}
s

{1, 2, 3, 4, 5, 6, 8, 23}

In [33]:
type(s)

set

In [35]:
s[0]  ### elements cannot be accessed using the index values.

TypeError: 'set' object is not subscriptable

In [36]:
s1 = {0.2,0.3,1,4,6,7}

In [37]:

s1

{0.2, 0.3, 1, 4, 6, 7}

In [39]:
s2 = {"one",1,2,4,5,"two"}
s2

{1, 2, 4, 5, 'one', 'two'}

In [41]:
s3 = {"one",(1,2,3,4),9} ## tuple can be allowed in a set

In [43]:
s4 = {"one",[1,2,4,5]} ### list cannot be allowed in the set

TypeError: unhashable type: 'list'

In [46]:
## converting the tuple into a set
## set function is used to convert other datastructure to set .
a = (1,2,4,6,8,0)
b = set(a)

In [45]:
b

{0, 1, 2, 4, 6, 8}

In [47]:
### Iterating elements of a set:

for i in b:
    print(i,end = " ")

0 1 2 4 6 8

In [48]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [50]:
s

{1, 2, 3, 4, 5, 6, 8, 23}

In [53]:
## add method
s.add("two")  ### adding element to the set

In [52]:
s

{1, 2, 23, 3, 4, 5, 6, 8, 'two'}

In [56]:
### update method:

s.update(["one",10,"a"]) ### update is for adding multiple elements

In [55]:
s

{1, 10, 2, 23, 3, 4, 5, 6, 8, 'a', 'one', 'two'}

In [57]:
### remove method:

s.remove("one")  ## removing the defined element from the set

In [58]:
s

{1, 10, 2, 23, 3, 4, 5, 6, 8, 'a', 'two'}

In [59]:
### discard method:  ### remove and discard have the same functionality

s.discard("two")

In [60]:
s

{1, 10, 2, 23, 3, 4, 5, 6, 8, 'a'}

In [61]:
## clear method: clearing all the elements from the set
s.clear()

In [62]:
s

set()

In [65]:
del s ### deletes the set along with the name

NameError: name 's' is not defined

In [64]:
s

NameError: name 's' is not defined

In [68]:
### copy method:
s2 = {"one",1,2,4,5,"two"}
s2

{1, 2, 4, 5, 'one', 'two'}

In [69]:
s1 = s2
s1

{1, 2, 4, 5, 'one', 'two'}

In [70]:
id(s1)

2893748624744

In [71]:
id(s2)

2893748624744

In [72]:
s3 = s2.copy()

In [73]:
s3

{1, 2, 4, 5, 'one', 'two'}

In [74]:
id(s3)

2893748624072

In [75]:
s3.add(10)

In [93]:
s3

{1, 10, 2, 30, 4, 5, 'one', 'two'}

In [94]:
s2

{1, 10, 2, 20, 4, 5, 'one', 'two'}

In [95]:
s3.add(30)

In [92]:
s3

{1, 10, 2, 30, 4, 5, 'one', 'two'}

In [91]:
s2

{1, 10, 2, 20, 4, 5, 'one', 'two'}

In [99]:
s1.add(30)

In [100]:
s1

{1, 10, 2, 20, 30, 4, 5, 'one', 'two'}

In [101]:
s2

{1, 10, 2, 20, 30, 4, 5, 'one', 'two'}

In [103]:
### Union Method: all the elements in all the sets are considered

a = {1,2,3,4,5,6,7,8,9}
b = {9,10,11}
c = {3,0,23,22,13,14}

a | b  ### general way of applying union.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [105]:
a.union(b)  ### union of a and b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [107]:
a.union(b,c)  ### union of a,b,c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 22, 23}

In [108]:
### Intersection: only common elements in both the sets will be considered.

a = {1,2,3,4,5,6,7,8,9}
b = {9,10,11}
c = {3,0,23,22,13,14}

a & b

{9}

In [110]:
a.intersection(b) ### intersection of a and b

{9}

In [112]:
a.intersection(b,c) ### intersection of a,b and c

set()

In [113]:
## intersection_update:

a.intersection_update(b)

In [115]:
a  ### a set updated with the intersection output

{9}

In [117]:
### Difference: consider the elements only in a but not in b.
a = {1,2,3,4,5}
b = {4,5,6,7,8}

a - b

{1, 2, 3}

In [120]:
a.difference(b) ## difference of a,b

{1, 2, 3}

In [121]:
b.difference(a)

{6, 7, 8}

In [123]:
### symmetric difference: Excludes the elements common in a and b.

a = {1,2,3,4,5}
b = {4,5,6,7,8}

a ^ b

{1, 2, 3, 6, 7, 8}

In [124]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [125]:
### symmetric_difference_update:

a.symmetric_difference_update(b)

In [126]:
a

{1, 2, 3, 6, 7, 8}

In [128]:
### issubset:
a = {1,2,3,4,5,6,7,8,9,10,11}
b = {9,10,11}
c = {3,0,23,22,13,14}

b.issubset(a)

True

In [129]:
### issuperset:

a.issuperset(b)

True

In [130]:
### isdisjoint:

b.isdisjoint(c)

True

In [132]:
a.isdisjoint(b)

False

In [134]:
## sum:

sum(a)

66

In [135]:
max(a)

11

In [136]:
min(a)

1

In [137]:
len(a)

11

In [139]:
sorted(a,reverse = True)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [142]:
list(enumerate(a))

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10),
 (10, 11)]

In [143]:
s = {[1,2,3],3,4,5}

TypeError: unhashable type: 'list'

### Functions:
* Functions are block of code used to perform a specific task whenever we want.
* Function breaks the code into smaller chunks.
* Function reduces writing the code repeatedly
* def --- function initialization
* Types of functions:
    * Predefined functions --- default functions like sum,len,ord.
    * User defined functions  --- created by a user.

In [145]:
## def --- keyword for creating the function

"""def function_name(parameters):
    statement 1
    statement 2
    return """

'def function_name(parameters):\n    statement 1\n    statement 2\n    return '

In [147]:
### function with static parameters inside the function
def sample():
    a = 10
    b = 20
    c = a + b
    return c
sample()

30

In [149]:
### defining the parameters within the function"

def add(a,b):
    c = a + b
    return c
add(30,40)

70

In [151]:
## square of the given number

def square(a):
    c = a**2
    print(c)
    
square(12)

144

In [154]:
### create a function for finding the given number is even or not:

def iseven_odd(n):
    if n % 2 == 0:
        print(n, "is even number")
    else:
        print(n,"is odd number")
        
iseven_odd(11)

11 is odd number

In [161]:
## global variable
a = 10
def sample1():
    print(a)
sample1()

10

In [162]:
a = 10
def sample1():
    s = 20
    print(a,s)
sample1()

10 20

In [159]:
## local variable:

def sample2():
    s = 10  ### local variable
    
def sam():
    print(s)
    
sample2()
sam()

NameError: name 's' is not defined

In [163]:
### create a function for swaping the numbers:

def swap(a,b):
    c = a
    a = b
    b = c
    return a,b
swap(10,20)

(20, 10)

In [168]:
### create a function for finding the factorial of a number:
def fact(num):
    c = 1
    for i in range(1,num+1):
        c *= i
    return c
fact(5)

120

In [172]:
### recursive function:

def rec_fact(num):
    if num <= 1:
        return 1
    else:
        return num * rec_fact(num - 1)

rec_fact(5)

120

In [178]:
def fiboacci(num):
    if num <= 1:
        return 1
    if num == 2:
        return 1
    else:
        return fiboacci(num - 1) + fiboacci(num - 2)
fiboacci(3)

2

In [180]:
### kwargs and args

### arguments --- values
### keyword ---- arguments variables

def add(*args):
    return sum(args)

add(1,2,3,4,6,7,8,9,0)

40

In [183]:
def add(**kwargs):
    return (kwargs)

add(a = 10,b = 2,c = 30, d= 40)

{'a': 10, 'b': 2, 'c': 30, 'd': 40}

### Task:
* create function for finding the given is armstrong or not.
* create function for finding the given is prime or not
* create function for getting the prime numbers within the given range 
* create a function for getting the factorial of each number within the given range