### Supervised Learning
1. Regression Models
2. Classification Models

#### Scikit Learn
- Scikit Learn is one of the important library in python, it plays a key role in machine learning.
- Scikit learn contains Built-In machine learning algorithms, preprocessing algorithms, etc,..
- https://scikit-learn.org/stable/

### Regression Models

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'HeadSize':[1,2,3,4,5],
                   'BrainWeight':[3,4,4.8,7,8.9]})
df

   HeadSize  BrainWeight
0         1          3.0
1         2          4.0
2         3          4.8
3         4          7.0
4         5          8.9

In [3]:
df.shape

(5, 2)

In [4]:
df.describe()

       HeadSize  BrainWeight
count  5.000000     5.000000
mean   3.000000     5.540000
std    1.581139     2.387048
min    1.000000     3.000000
25%    2.000000     4.000000
50%    3.000000     4.800000
75%    4.000000     7.000000
max    5.000000     8.900000

In [7]:
X = df['HeadSize'] # Input
Y = df['BrainWeight'] # Taget

### Linear Regression Model

#### Line Equation Formula
- Y  = m * X + C
- Y = b0 + b1 * X
    - b0 is an Y-Intercept
    - b1 is Slope

### Slope Formula (b1)

In [6]:
##          (Xi - mean(X)) * (Yi - mean(Y))
##  b1 = -------------------------------------
##              (Xi - mean(X))**2

In [11]:
n = len(X)
x_mean = np.mean(X)
y_mean = np.mean(Y)

In [12]:
numerator = 0
denominator = 0
for i in range(n):
    numerator = numerator + (X[i] - x_mean) * (Y[i] - y_mean)
    denominator = denominator + (X[i] - x_mean)**2
    
b1 = numerator / denominator

In [13]:
print(b1) ## Slope = 1.48

1.48

### Y - Intercept (b0)
- b0 = mean(Y) - (b1 * mean(X))

In [14]:
b0 = y_mean - (b1 * x_mean)

In [15]:
print(b0)

1.1000000000000014

In [16]:
### predict the values

for i in range(n):
    y_prediction = b0 + b1 * X[i]
    print(y_prediction)

2.5800000000000014
4.060000000000001
5.540000000000001
7.020000000000001
8.500000000000002

### Apply Linear Regression Model

In [17]:
df

   HeadSize  BrainWeight
0         1          3.0
1         2          4.0
2         3          4.8
3         4          7.0
4         5          8.9

In [35]:
X1 = df[['HeadSize']].values # Input
Y1 = df[['BrainWeight']].values # Target

In [41]:
X1

array([[1],
       [2],
       [3],
       [4],
       [5]], dtype=int64)

In [37]:
## Step1 = Split the data into input and target
## Step2 = Import model
## Step3 = Split dataset for training and testing
## Step4 = Assign model to any object
## Step5 = Fit the model
## Step6 = Predict the model and find accuracy

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lin_reg = LinearRegression()

In [40]:
lin_reg.fit(X1,Y1) # By fitting the model, formula will be applied to our dataset

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
y_prediction2 = lin_reg.predict(X1)
y_prediction2

array([[2.58],
       [4.06],
       [5.54],
       [7.02],
       [8.5 ]])

In [45]:
lin_reg.predict([[2.5],[3]])

array([[4.8 ],
       [5.54]])

In [47]:
df2 = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/headbrain.csv')
df2.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [48]:
# men --> 4000 --> 1500
# women -->4000 --> 1450

In [49]:
df2.isnull().sum()

Gender                 0
Age Range              0
Head Size(cm^3)        0
Brain Weight(grams)    0
dtype: int64

In [51]:
df2.shape

(237, 4)

In [69]:
X = df2[['Gender','Age Range','Head Size(cm^3)']]
Y = df2[['Brain Weight(grams)']]

In [70]:
X.head()

   Gender  Age Range  Head Size(cm^3)
0       1          1             4512
1       1          1             3738
2       1          1             4261
3       1          1             3777
4       1          1             4177

In [71]:
Y[0:5]

   Brain Weight(grams)
0                 1530
1                 1297
2                 1335
3                 1282
4                 1590

In [72]:
from sklearn.linear_model import LinearRegression

In [73]:
lin_reg2 = LinearRegression()

In [74]:
lin_reg2.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [75]:
y_prediction3 = lin_reg2.predict(X)
y_prediction3

array([[1519.93452386],
       [1330.91463003],
       [1458.63737483],
       [1340.43888825],
       [1438.1235879 ],
       [1293.55023241],
       [1342.39258224],
       [1287.20072693],
       [1300.38816139],
       [1390.50229682],
       [1258.87216403],
       [1393.18862606],
       [1306.98187861],
       [1445.69415212],
       [1353.87053445],
       [1364.61585141],
       [1272.05959849],
       [1264.48903426],
       [1173.88647533],
       [1498.44388994],
       [1365.10427491],
       [1406.13184876],
       [1347.03260547],
       [1324.07670105],
       [1577.32428491],
       [1498.19967819],
       [1403.68973127],
       [1400.27076679],
       [1261.55849328],
       [1437.6351644 ],
       [1342.88100574],
       [1345.07891148],
       [1420.05191847],
       [1434.21619992],
       [1433.48356467],
       [1349.47472296],
       [1279.38595096],
       [1333.35674752],
       [1232.25308338],
       [1270.83853974],
       [1385.61806184],
       [1274.01329248],
       [1471.82480928],
       [1347.03260547],
       [1361.44109867],
       [1403.20130777],
       [1470.11532704],
       [1190.98129777],
       [1307.22609036],
       [1307.95872561],
       [1368.27902765],
       [1344.34627623],
       [1460.83528057],
       [1410.2834485 ],
       [1397.82864929],
       [1262.53534027],
       [1368.0348159 ],
       [1411.46881323],
       [1355.05589918],
       [1290.09557391],
       [1338.20528849],
       [1222.69313114],
       [1478.87125599],
       [1432.7152354 ],
       [1304.25985536],
       [1207.0635792 ],
       [1228.06578963],
       [1217.56468441],
       [1475.940715  ],
       [1463.97433929],
       [1372.88335686],
       [1336.25159449],
       [1400.47928452],
       [1384.84973257],
       [1327.94839502],
       [1222.93734289],
       [1262.98806975],
       [1215.12256692],
       [1353.83484043],
       [1330.63472426],
       [1329.41366552],
       [1335.763171  ],
       [1187.52663927],
       [1267.62809299],
       [1354.56747568],
       [1334.2979005 ],
       [1202.17934422],
       [1225.86788388],
       [1250.2890588 ],
       [1348.2179702 ],
       [1410.00354273],
       [1204.37724996],
       [1288.38609166],
       [1346.26427621],
       [1297.66613813],
       [1316.95886631],
       [1242.23007108],
       [1246.38167081],
       [1286.43239767],
       [1243.45112982],
       [1247.60272956],
       [1330.39051251],
       [1340.64740598],
       [1288.14187991],
       [1277.6407747 ],
       [1284.96712717],
       [1378.74443884],
       [1224.15840164],
       [1350.41587594],
       [1475.940715  ],
       [1296.44507938],
       [1254.68487028],
       [1266.16282249],
       [1271.77969272],
       [1220.25101365],
       [1248.57957655],
       [1270.55863398],
       [1346.50848796],
       [1398.76980227],
       [1355.54432268],
       [1224.15840164],
       [1419.7720127 ],
       [1490.10499645],
       [1276.6639277 ],
       [1383.38446208],
       [1317.69150156],
       [1222.20470765],
       [1157.00017063],
       [1383.87288558],
       [1268.84915173],
       [1289.36293866],
       [1256.63856428],
       [1382.16340333],
       [1289.60715041],
       [1093.22082534],
       [1234.61942809],
       [1321.31459904],
       [1201.89505371],
       [1153.54112738],
       [1169.90331457],
       [1267.83222597],
       [1257.57533251],
       [1170.88016157],
       [1235.10785159],
       [1348.66631494],
       [1347.68946794],
       [1226.07201687],
       [1193.34764249],
       [1238.28260433],
       [1150.12216289],
       [1229.00255786],
       [1207.02350044],
       [1294.20709488],
       [1235.35206334],
       [1336.45572748],
       [1166.24013833],
       [1196.27818348],
       [1300.80081211],
       [1373.8201251 ],
       [1193.83606599],
       [1145.48213966],
       [1318.38405805],
       [1261.971144  ],
       [1199.45293622],
       [1249.51634479],
       [1148.1684689 ],
       [1188.70761925],
       [1215.57091166],
       [1324.24514003],
       [1266.36695548],
       [1163.55380909],
       [1250.98161528],
       [1267.58801423],
       [1304.95241184],
       [1278.33333119],
       [1177.71809054],
       [1276.86806069],
       [1265.14589673],
       [1367.22640787],
       [1258.30796776],
       [1296.40500062],
       [1166.72856183],
       [1373.57591335],
       [1172.34543206],
       [1245.12053331],
       [1284.92704841],
       [1282.48493092],
       [1121.02527073],
       [1200.3940892 ],
       [1275.85551968],
       [1144.46959864],
       [1190.62561923],
       [1104.17466004],
       [1271.94813169],
       [1239.95639256],
       [1048.73859298],
       [1118.33894149],
       [1188.18350174],
       [1224.57105236],
       [1176.70554953],
       [1192.09088972],
       [1159.85493884],
       [1171.82131455],
       [1311.99885855],
       [1120.53684723],
       [1273.16919044],
       [1202.34778319],
       [1347.16535043],
       [1181.83399626],
       [1035.79537028],
       [1088.78931984],
       [1245.81747454],
       [1089.27774334],
       [1101.48833079],
       [1247.28274503],
       [1142.2716929 ],
       [1164.25075032],
       [1145.69065739],
       [1169.6234088 ],
       [1199.17303045],
       [1197.21933646],
       [1070.96186215],
       [1284.8913544 ],
       [1221.15208787],
       [1262.17966173],
       [1279.03027242],
       [1173.53079679],
       [1398.205606  ],
       [1283.67029565],
       [1157.41282135],
       [1271.45970819],
       [1276.09973143],
       [1156.43597435],
       [1200.3940892 ],
       [1161.07599758],
       [1190.13719573],
       [1199.66145395]])

In [76]:
y_prediction3[:5]

array([[1519.93452386],
       [1330.91463003],
       [1458.63737483],
       [1340.43888825],
       [1438.1235879 ]])

In [77]:
X.head()

   Gender  Age Range  Head Size(cm^3)
0       1          1             4512
1       1          1             3738
2       1          1             4261
3       1          1             3777
4       1          1             4177

In [78]:
Y[:5]

   Brain Weight(grams)
0                 1530
1                 1297
2                 1335
3                 1282
4                 1590

In [79]:
lin_reg2.predict([[1,1,4512]])

array([[1519.93452386]])