![](logo.png)
# Day Objectives
## Pandas
- Pandas is a built in library using for data analysis. You'll be using Pandas heavily for data manipulation, visualisation, building machine learning models, etc.
- Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
- There are two main data structures in Pandas - Series and Dataframes. The default way to store data is dataframes, and thus manipulating dataframes quickly is probably the most important skill set for data analysis.
- Source: https://pandas.pydata.org/pandas-docs/stable/overview.html
## Pandas Series
- A series is similar to a 1-D numpy array, and contains values of the same type (numeric, character, datetime  etc.). A dataframe is simply a table where each column is a pandas series.

## creating series
- List
- Tuple
- Dictionary
- Numpy
- Date_Range
- Series Indexing

## Data Analysis with Pandas
* Pandas DataFrame
* Combining & Merging
* File I/O
* Indexing
* Grouping
* Features
* Filtering
* Sorting
* Statistical
* Plotting
* Saving

|S.No |Name |Gender|
|--|--|--|
|1 | Mercy | Female|
|2 | Cherry | Male |
|3 | Raju | Male |

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lavan\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lavan\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\lavan\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lavan\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lavan\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
len(dir(pd))

142

In [5]:
# Pandas series

In [7]:
# creating Pandas series - 1-D data
s1 = pd.Series([1,2,3,4,5,5,6,7])
s1
# numpy and series 
# - Pandas series having Index values 
# always index starts from 0
# we can easly access the data

0    1
1    2
2    3
3    4
4    5
5    5
6    6
7    7
dtype: int64

In [8]:
s2 = pd.Series((12,343,3.445,"string",88j))
s2

0        12
1       343
2     3.445
3    string
4       88j
dtype: object

In [12]:
di = {"name" : "Prasad","Pin":333,"msg":"Yes"}
s3 = pd.Series(di)
s3

name    Prasad
Pin        333
msg        Yes
dtype: object

In [13]:
type(s3)

pandas.core.series.Series

In [15]:
s3.dtype # object - string

dtype('O')

In [16]:
s2

0        12
1       343
2     3.445
3    string
4       88j
dtype: object

In [18]:
s2.index = ["X","Y","Z",12,34.3]
s2
# explicit indexing

X           12
Y          343
Z        3.445
12      string
34.3       88j
dtype: object

In [21]:
li = [123,34,5456,6]
# convert li into numpy
import numpy as np
n = np.array(li)

In [22]:
s4 = pd.Series(n)
s4

0     123
1      34
2    5456
3       6
dtype: int32

# Date_Range

In [24]:
pd.date_range(start="2021-05-31",end="2021-06-30")

DatetimeIndex(['2021-05-31', '2021-06-01', '2021-06-02', '2021-06-03',
               '2021-06-04', '2021-06-05', '2021-06-06', '2021-06-07',
               '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11',
               '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15',
               '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19',
               '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23',
               '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27',
               '2021-06-28', '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

# Series Indexing

In [28]:
s1[4]

5

In [29]:
s3

name    Prasad
Pin        333
msg        Yes
dtype: object

In [30]:
s3["Pin"]

333

In [31]:
s3["name"]

'Prasad'

In [32]:
s1[::2]

0    1
2    3
4    5
6    6
dtype: int64

In [33]:
s1[::-1]

7    7
6    6
5    5
4    5
3    4
2    3
1    2
0    1
dtype: int64

In [34]:
s1[1::2]

1    2
3    4
5    5
7    7
dtype: int64

In [36]:
di = {"name" : "Prasad","Pin":333,"Branch":np.nan,"msg":"Yes"}
s3 = pd.Series(di)
s3
# nan - not a number  - special type of float value

name      Prasad
Pin          333
Branch       NaN
msg          Yes
dtype: object

In [37]:
# Updating
s3["Branch"]

nan

In [38]:
s3["Branch"]  = "Mech"
s3

name      Prasad
Pin          333
Branch      Mech
msg          Yes
dtype: object

In [39]:
s5 = pd.Series("Mech",index = [333,323,435,235,2342])
s5

333     Mech
323     Mech
435     Mech
235     Mech
2342    Mech
dtype: object

# Task
- create Series having index values starts from 10 to 20 and the values are squares of index values

In [46]:
s = pd.Series(np.arange(10,21)**2 , index = np.arange(10,21))
s
# length of the series and length of the index values should be equal

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int32

In [49]:
s1

0    1
1    2
2    3
3    4
4    5
5    5
6    6
7    7
dtype: int64

In [50]:
#  to get  particular index values 1,3,7,5
# Fancy Indexing
s1[[1,3,7,5]]

1    2
3    4
7    7
5    5
dtype: int64

In [51]:
s3

name      Prasad
Pin          333
Branch      Mech
msg          Yes
dtype: object

In [54]:
s3[0] # implict Indexing

'Prasad'

In [53]:
s3["name"] # explict indexing

'Prasad'

In [55]:
s3[["name"]] # fancy indexing

name    Prasad
dtype: object

In [56]:
li = [i*i for i in range(10,21)]
np.array(li)
s10 = pd.Series(li, index=[10,11,12,13,14,15,16,17,18,19,20])
s10

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

# Pandas DataFrames

In [57]:
# creating DataFrame using List
df1 = pd.DataFrame([[1,2,3,4,4,4],[12,34,45,65,67,32]])
df1

    0   1   2   3   4   5
0   1   2   3   4   4   4
1  12  34  45  65  67  32

In [58]:
# using Tuples 
df2 = pd.DataFrame(((1,2,3,4,4,4),(12,34,45,65,67,32)))
df2

    0   1   2   3   4   5
0   1   2   3   4   4   4
1  12  34  45  65  67  32

In [59]:
di

{'name': 'Prasad', 'Pin': 333, 'Branch': nan, 'msg': 'Yes'}

In [64]:
df3 = pd.DataFrame(di, index = [1,2])
df3

     name  Pin  Branch  msg
1  Prasad  333     NaN  Yes
2  Prasad  333     NaN  Yes

In [65]:
df3.index

Int64Index([1, 2], dtype='int64')

In [66]:
df3.columns

Index(['name', 'Pin', 'Branch', 'msg'], dtype='object')

In [68]:
df3.shape # rows,columns

(2, 4)

In [74]:
di1 = {"Name" : ["Prasad","sravani","latha","lavanya"],
       "Pin":[333,444,777,656],
       "Branch":["Mech","CSE","IT","ECE"]  
}

In [75]:
df4 = pd.DataFrame(di1)

In [76]:
df4

      Name  Pin Branch
0   Prasad  333   Mech
1  sravani  444    CSE
2    latha  777     IT
3  lavanya  656    ECE

In [77]:
df4.shape

(4, 3)

In [78]:
df4.index

RangeIndex(start=0, stop=4, step=1)

In [79]:
df4["Name"]  # accessing sub df - series

0     Prasad
1    sravani
2      latha
3    lavanya
Name: Name, dtype: object

In [80]:
df4["Branch"] # 1-D data

0    Mech
1     CSE
2      IT
3     ECE
Name: Branch, dtype: object

In [82]:
df4[["Name","Branch"]] # 2-D sub df

      Name Branch
0   Prasad   Mech
1  sravani    CSE
2    latha     IT
3  lavanya    ECE

In [83]:
# get sravani's Pin number
df4["Name"]

0     Prasad
1    sravani
2      latha
3    lavanya
Name: Name, dtype: object

In [85]:
df4["Pin"][1]

444

In [87]:
df4

      Name  Pin Branch
0   Prasad  333   Mech
1  sravani  444    CSE
2    latha  777     IT
3  lavanya  656    ECE

# Indexing and Slicing

In [90]:
df4[:1]

     Name  Pin Branch
0  Prasad  333   Mech

In [93]:
df4[2:3]

    Name  Pin Branch
2  latha  777     IT

In [94]:
df4[0]

KeyError: 0

In [96]:
df4[::2]

     Name  Pin Branch
0  Prasad  333   Mech
2   latha  777     IT

In [98]:
len(li)

11

In [105]:
df5 = pd.DataFrame(li, index = list("abcdefghije"))
df5

     0
a  100
b  121
c  144
d  169
e  196
f  225
g  256
h  289
i  324
j  361
e  400

In [106]:
df4

      Name  Pin Branch
0   Prasad  333   Mech
1  sravani  444    CSE
2    latha  777     IT
3  lavanya  656    ECE

In [107]:
df4["Branch"] # as series

0    Mech
1     CSE
2      IT
3     ECE
Name: Branch, dtype: object

In [108]:
df4[["Branch"]]

  Branch
0   Mech
1    CSE
2     IT
3    ECE

In [109]:
df4["%"] = [90,98,89,78]
df4

      Name  Pin Branch   %
0   Prasad  333   Mech  90
1  sravani  444    CSE  98
2    latha  777     IT  89
3  lavanya  656    ECE  78

In [112]:
df4.set_index("Name")

         Pin Branch   %
Name
Prasad   333   Mech  90
sravani  444    CSE  98
latha    777     IT  89
lavanya  656    ECE  78

In [113]:
df4

      Name  Pin Branch   %
0   Prasad  333   Mech  90
1  sravani  444    CSE  98
2    latha  777     IT  89
3  lavanya  656    ECE  78

In [114]:
df4.set_index("Name", inplace = True)

In [115]:
df4

         Pin Branch   %
Name
Prasad   333   Mech  90
sravani  444    CSE  98
latha    777     IT  89
lavanya  656    ECE  78

In [120]:
df4.reset_index(inplace=True)

In [128]:
df4[2:3][["Name","Branch"]]

    Name Branch
2  latha     IT

## iloc -- for accessing rows using integer indicies
## loc -- for accessing rows other than integer indicies

In [129]:
df4.iloc[2]

Name      latha
Pin         777
Branch       IT
%            89
Name: 2, dtype: object

In [131]:
df4.iloc[0]

Name      Prasad
Pin          333
Branch      Mech
%             90
Name: 0, dtype: object

In [132]:
df4.iloc[1:5:2]

      Name  Pin Branch   %
1  sravani  444    CSE  98
3  lavanya  656    ECE  78

In [137]:
df4.loc[3,["Pin","Name"]]

Pin         656
Name    lavanya
Name: 3, dtype: object

In [138]:
df4.loc[[2,1],["Name","%"]]

      Name   %
2    latha  89
1  sravani  98

In [146]:
df4.iloc[3,"Pin"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [144]:
df4.loc[3]

Name      lavanya
Pin           656
Branch        ECE
%              78
Name: 3, dtype: object

In [145]:
df4.loc[2,"Pin"]

777

# File reading

In [148]:
data = pd.read_csv("Students.csv")
data

,S.No.,Registration Id,Name,Email,Mobile No
0,1,17001A0538,Devireddy Harivarun,harivarundevireddy@gmail.com,9493692436
1,2,18001A0503,Boya Sudha Rani,sudha.boya22@gmail.com,8008462366
2,3,18001A0505,T Bharath Kumar Reddy,bharath143775@gmail.com,8106925040
3,4,18001A0507,Manchala Vasundhara,manchalavasundhara@gmail.com,8919345514
4,5,18001A0509,Gummaraju Sai Hemanth Kumar,saihemath2000@gmail.com,9963097716
5,6,18001A0511,Petala Jagan,jaganpettla@gmail.com,8008051305
6,7,18001A0513,Sugali Uday Kiran,sugaliudaykirang@gmail.com,8008139871
7,8,18001A0519,Yallamgari Sujana,sujanayallangari@gmail.com,7674880318
8,9,18001A0523,Mohammed Farheen,farheenmhmd05@gmail.com,9381252264
9,10,18001A0528,Penakacherla Raviteja Yadav,raviyadav459p@gmail.com,8886887857
10,11,18001A0533,Sanna Balappa Gari Bhargav,sb.bhargav1993@gmail.com,9701312245
11,12,18001A0534,Shaik Jilani,jilan9652@gmail.com,9347690784
12,13,18001A0535,Kannali Sevitha Priya,sevithapriya136@gmail.com,9908087975
13,14,18001A0539,Bojjireddy Vineeth Reddy,brvineeth12@gmail.com,9959431389
14,15,18001A0542,P Reddy Tejaswi,tejaswi.parapatla@gmail.com,7032303135
15,16,18001A0543,Rajitha.G,grajitha100@gmail.com,7093941394
16,17,18001A0544,Nagaraju Gandu,Nagarajugandu76@gmail.com,9492902808
17,18,18001A0545,Meda Guru Santhosh Kumar,gurusanthoshkumarmeda@gmail.com,9052313200
18,19,18001A0547,Mohammad Salman Sunakal,shaiksalmanssn@gmail.com,9490881902
19,20,18001A0548,Mouryagottipati,gottipati.mourya@gmail.com,9381194449
20,21,18001A0561,Oramisi Daniel Odeke,danielodeke@outlook.com,7989799674
21,22,18001A0571,Mp Anusha Jayasree,mp.anujayasree@gmail.com,9494431705
22,23,18001A0574,Mandle Nandakishore Reddy,mandlenandakishore89@gmail.com,8106386899
23,24,18001A0578,Y. Bhavya,bhavyareddy997@gmail.com,7660957477
24,25,18001A0579,M. Alphonsa Mary Alexander,alphonsamaryalexander2001@gmail.com,9959528579
25,26,18001A538,K Jaya Krishna Reddy,jayakrishna2000.aa@gmail.com,9390366800
26,27,18005A0208,Nossam Shaik Ahamad Basha,ahammedbasha950@gmail.com,9505759750
27,28,19005A0215,B K Omkar Gowri,omkarbk963@gmail.com,9849640530
28,29,19005A0507,Chandragiri Jyoshna,chandragiri.jyoshna@gmail.com,7702851194
29,30,19005A0514,Sai Nikhila Indhirala,sainikhilaindhirala424@gmail.com,9398507959
30,31,19005A0516,Yanamala Aswini,yanamala.aswini99@gmail.com,9491280292
31,32,19005A0518,Eswar Mekala,mekalaeswar123456@gmail.com,9000021883
32,33,19005A0520,Uyyalawada Sandhya Rani,uyyalawadasandhyarani@gmail.com,7386003127

In [149]:
data = pd.read_csv("https://raw.githubusercontent.com/AP-Skill-Development-Corporation/JNTUADATASCIENCE/main/Day13_Pandas/Students.csv")
data

,S.No.,Registration Id,Name,Email,Mobile No
0,1,17001A0538,Devireddy Harivarun,harivarundevireddy@gmail.com,9493692436
1,2,18001A0503,Boya Sudha Rani,sudha.boya22@gmail.com,8008462366
2,3,18001A0505,T Bharath Kumar Reddy,bharath143775@gmail.com,8106925040
3,4,18001A0507,Manchala Vasundhara,manchalavasundhara@gmail.com,8919345514
4,5,18001A0509,Gummaraju Sai Hemanth Kumar,saihemath2000@gmail.com,9963097716
5,6,18001A0511,Petala Jagan,jaganpettla@gmail.com,8008051305
6,7,18001A0513,Sugali Uday Kiran,sugaliudaykirang@gmail.com,8008139871
7,8,18001A0519,Yallamgari Sujana,sujanayallangari@gmail.com,7674880318
8,9,18001A0523,Mohammed Farheen,farheenmhmd05@gmail.com,9381252264
9,10,18001A0528,Penakacherla Raviteja Yadav,raviyadav459p@gmail.com,8886887857
10,11,18001A0533,Sanna Balappa Gari Bhargav,sb.bhargav1993@gmail.com,9701312245
11,12,18001A0534,Shaik Jilani,jilan9652@gmail.com,9347690784
12,13,18001A0535,Kannali Sevitha Priya,sevithapriya136@gmail.com,9908087975
13,14,18001A0539,Bojjireddy Vineeth Reddy,brvineeth12@gmail.com,9959431389
14,15,18001A0542,P Reddy Tejaswi,tejaswi.parapatla@gmail.com,7032303135
15,16,18001A0543,Rajitha.G,grajitha100@gmail.com,7093941394
16,17,18001A0544,Nagaraju Gandu,Nagarajugandu76@gmail.com,9492902808
17,18,18001A0545,Meda Guru Santhosh Kumar,gurusanthoshkumarmeda@gmail.com,9052313200
18,19,18001A0547,Mohammad Salman Sunakal,shaiksalmanssn@gmail.com,9490881902
19,20,18001A0548,Mouryagottipati,gottipati.mourya@gmail.com,9381194449
20,21,18001A0561,Oramisi Daniel Odeke,danielodeke@outlook.com,7989799674
21,22,18001A0571,Mp Anusha Jayasree,mp.anujayasree@gmail.com,9494431705
22,23,18001A0574,Mandle Nandakishore Reddy,mandlenandakishore89@gmail.com,8106386899
23,24,18001A0578,Y. Bhavya,bhavyareddy997@gmail.com,7660957477
24,25,18001A0579,M. Alphonsa Mary Alexander,alphonsamaryalexander2001@gmail.com,9959528579
25,26,18001A538,K Jaya Krishna Reddy,jayakrishna2000.aa@gmail.com,9390366800
26,27,18005A0208,Nossam Shaik Ahamad Basha,ahammedbasha950@gmail.com,9505759750
27,28,19005A0215,B K Omkar Gowri,omkarbk963@gmail.com,9849640530
28,29,19005A0507,Chandragiri Jyoshna,chandragiri.jyoshna@gmail.com,7702851194
29,30,19005A0514,Sai Nikhila Indhirala,sainikhilaindhirala424@gmail.com,9398507959
30,31,19005A0516,Yanamala Aswini,yanamala.aswini99@gmail.com,9491280292
31,32,19005A0518,Eswar Mekala,mekalaeswar123456@gmail.com,9000021883
32,33,19005A0520,Uyyalawada Sandhya Rani,uyyalawadasandhyarani@gmail.com,7386003127

In [151]:
data = pd.read_excel("2020-07-25.xlsx")
data

    Unnamed: 0 Roll Number 2020-07-25
0            0  17B81A04H1          P
1            1  198A5F0019          P
2            2  17KD1A0560          P
3            3  17KH1A0455          P
4            4  1210316262          P
5            5  18P31A0555          P
6            6  18B01A0211          P
7            7    Y18IT048          P
8            8  17B81A05B2          P
9            9  169X1A04E0          P
10          10  14F41A0447          P
11          11  17W51D5505          P
12          12  18021D0501          P
13          13    Y18CS034          P
14          14    Y18IT040          P
15          15  154M1A0554          P
16          16  19025A0433          P
17          17   180030816          P
18          18  18A31A1248          P
19          19    Y18IT020          P
20          20  18AT1A0527          P
21          21  18121A02D0          P
22          22    Y18IT055          P
23          23  17NE1A0578          P
24          24    Y17CS108          P
25          25    Y18IT063          P
26          26    Y18IT043          P
27          27  178B1A0561          P
28          28  19A95F0019          P
29          29   180050012          P
30          30  166N1A0546          P
31          31   170040246          P
32          32  188W1A0460          P
33          33  14B21A04E1          P
34          34  18AT1A0559          P
35          35     N160868          P
36          36  153B1A0538          P
37          37  17751A0408          P
38          38  18G31A0439          P
39          39   180030523          P
40          40    Y18IT029          P
41          41  18A81A05M5          P
42          42  18A51A1206          P
43          43  18B91A0209          P
44          44  1210416462          P
45          45     R151263          P
46          46     Y18CS80          P
47          47  17F21A0348          P
48          48  10G11A0209          P
49          49  19B95A0512          P
50          50    Y18IT025          P
51          51    Y18IT092          P
52          52    Y18CS166          P
53          53     R141465          P
54          54  17JN1A0495          P
55          55   170031480          P
56          56  2020239167          P

In [152]:
data_std = pd.read_csv("Students.csv")
data_std

,S.No.,Registration Id,Name,Email,Mobile No
0,1,17001A0538,Devireddy Harivarun,harivarundevireddy@gmail.com,9493692436
1,2,18001A0503,Boya Sudha Rani,sudha.boya22@gmail.com,8008462366
2,3,18001A0505,T Bharath Kumar Reddy,bharath143775@gmail.com,8106925040
3,4,18001A0507,Manchala Vasundhara,manchalavasundhara@gmail.com,8919345514
4,5,18001A0509,Gummaraju Sai Hemanth Kumar,saihemath2000@gmail.com,9963097716
5,6,18001A0511,Petala Jagan,jaganpettla@gmail.com,8008051305
6,7,18001A0513,Sugali Uday Kiran,sugaliudaykirang@gmail.com,8008139871
7,8,18001A0519,Yallamgari Sujana,sujanayallangari@gmail.com,7674880318
8,9,18001A0523,Mohammed Farheen,farheenmhmd05@gmail.com,9381252264
9,10,18001A0528,Penakacherla Raviteja Yadav,raviyadav459p@gmail.com,8886887857
10,11,18001A0533,Sanna Balappa Gari Bhargav,sb.bhargav1993@gmail.com,9701312245
11,12,18001A0534,Shaik Jilani,jilan9652@gmail.com,9347690784
12,13,18001A0535,Kannali Sevitha Priya,sevithapriya136@gmail.com,9908087975
13,14,18001A0539,Bojjireddy Vineeth Reddy,brvineeth12@gmail.com,9959431389
14,15,18001A0542,P Reddy Tejaswi,tejaswi.parapatla@gmail.com,7032303135
15,16,18001A0543,Rajitha.G,grajitha100@gmail.com,7093941394
16,17,18001A0544,Nagaraju Gandu,Nagarajugandu76@gmail.com,9492902808
17,18,18001A0545,Meda Guru Santhosh Kumar,gurusanthoshkumarmeda@gmail.com,9052313200
18,19,18001A0547,Mohammad Salman Sunakal,shaiksalmanssn@gmail.com,9490881902
19,20,18001A0548,Mouryagottipati,gottipati.mourya@gmail.com,9381194449
20,21,18001A0561,Oramisi Daniel Odeke,danielodeke@outlook.com,7989799674
21,22,18001A0571,Mp Anusha Jayasree,mp.anujayasree@gmail.com,9494431705
22,23,18001A0574,Mandle Nandakishore Reddy,mandlenandakishore89@gmail.com,8106386899
23,24,18001A0578,Y. Bhavya,bhavyareddy997@gmail.com,7660957477
24,25,18001A0579,M. Alphonsa Mary Alexander,alphonsamaryalexander2001@gmail.com,9959528579
25,26,18001A538,K Jaya Krishna Reddy,jayakrishna2000.aa@gmail.com,9390366800
26,27,18005A0208,Nossam Shaik Ahamad Basha,ahammedbasha950@gmail.com,9505759750
27,28,19005A0215,B K Omkar Gowri,omkarbk963@gmail.com,9849640530
28,29,19005A0507,Chandragiri Jyoshna,chandragiri.jyoshna@gmail.com,7702851194
29,30,19005A0514,Sai Nikhila Indhirala,sainikhilaindhirala424@gmail.com,9398507959
30,31,19005A0516,Yanamala Aswini,yanamala.aswini99@gmail.com,9491280292
31,32,19005A0518,Eswar Mekala,mekalaeswar123456@gmail.com,9000021883
32,33,19005A0520,Uyyalawada Sandhya Rani,uyyalawadasandhyarani@gmail.com,7386003127

In [155]:
data_std.set_index("Registration Id", inplace = True)

In [156]:
data_std.loc["18001A0574"]

S.No.                                    23
Name              Mandle Nandakishore Reddy
Email        mandlenandakishore89@gmail.com
Mobile No                        8106386899
Name: 18001A0574, dtype: object

In [161]:
data_std.head(3) # default first 5 records

,S.No.,Name,Email,Mobile No
Registration Id,,,,
17001A0538,1,Devireddy Harivarun,harivarundevireddy@gmail.com,9493692436
18001A0503,2,Boya Sudha Rani,sudha.boya22@gmail.com,8008462366
18001A0505,3,T Bharath Kumar Reddy,bharath143775@gmail.com,8106925040

In [162]:
data_std.tail(4)

,S.No.,Name,Email,Mobile No
Registration Id,,,,
19005A0514,30,Sai Nikhila Indhirala,sainikhilaindhirala424@gmail.com,9398507959
19005A0516,31,Yanamala Aswini,yanamala.aswini99@gmail.com,9491280292
19005A0518,32,Eswar Mekala,mekalaeswar123456@gmail.com,9000021883
19005A0520,33,Uyyalawada Sandhya Rani,uyyalawadasandhyarani@gmail.com,7386003127

In [163]:
data_std.sample(2) # random selection

,S.No.,Name,Email,Mobile No
Registration Id,,,,
18001A0548,20,Mouryagottipati,gottipati.mourya@gmail.com,9381194449
18001A0523,9,Mohammed Farheen,farheenmhmd05@gmail.com,9381252264

In [164]:
data_std.columns

Index(['S.No.', 'Name', 'Email', 'Mobile No'], dtype='object')

In [165]:
data_std.index

Index(['17001A0538', '18001A0503', '18001A0505', '18001A0507', '18001A0509',
       '18001A0511', '18001A0513', '18001A0519', '18001A0523', '18001A0528',
       '18001A0533', '18001A0534', '18001A0535', '18001A0539', '18001A0542',
       '18001A0543', '18001A0544', '18001A0545', '18001A0547', '18001A0548',
       '18001A0561', '18001A0571', '18001A0574', '18001A0578', '18001A0579',
       '18001A538', '18005A0208', '19005A0215', '19005A0507', '19005A0514',
       '19005A0516', '19005A0518', '19005A0520'],
      dtype='object', name='Registration Id')

# Grouping

In [166]:
data_std.shape

(33, 4)

In [169]:
from sklearn.datasets import load_iris

In [175]:
data = load_iris()
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [189]:
iris = pd.DataFrame(data.data )
iris.columns = data.feature_names
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [182]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [184]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [185]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [190]:
iris["Target"] = data.target
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [191]:
iris.to_csv("iris.csv")

In [196]:
iris["Target"].value_counts() # frequency count

2    50
1    50
0    50
Name: Target, dtype: int64

In [197]:
iris.shape

(150, 5)

In [200]:
# data masking
iris[iris["Target"] == 0] # target = 2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
15,5.7,4.4,1.5,0.4,0
16,5.4,3.9,1.3,0.4,0
17,5.1,3.5,1.4,0.3,0
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0
20,5.4,3.4,1.7,0.2,0
21,5.1,3.7,1.5,0.4,0
22,4.6,3.6,1.0,0.2,0
23,5.1,3.3,1.7,0.5,0
24,4.8,3.4,1.9,0.2,0
25,5.0,3.0,1.6,0.2,0
26,5.0,3.4,1.6,0.4,0
27,5.2,3.5,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
29,4.7,3.2,1.6,0.2,0
30,4.8,3.1,1.6,0.2,0
31,5.4,3.4,1.5,0.4,0
32,5.2,4.1,1.5,0.1,0
33,5.5,4.2,1.4,0.2,0
34,4.9,3.1,1.5,0.2,0
35,5.0,3.2,1.2,0.2,0
36,5.5,3.5,1.3,0.2,0
37,4.9,3.6,1.4,0.1,0
38,4.4,3.0,1.3,0.2,0
39,5.1,3.4,1.5,0.2,0
40,5.0,3.5,1.3,0.3,0
41,4.5,2.3,1.3,0.3,0
42,4.4,3.2,1.3,0.2,0
43,5.0,3.5,1.6,0.6,0
44,5.1,3.8,1.9,0.4,0
45,4.8,3.0,1.4,0.3,0
46,5.1,3.8,1.6,0.2,0
47,4.6,3.2,1.4,0.2,0
48,5.3,3.7,1.5,0.2,0
49,5.0,3.3,1.4,0.2,0

In [201]:
iris.min()

sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
Target               0.0
dtype: float64

In [202]:
iris.max()

sepal length (cm)    7.9
sepal width (cm)     4.4
petal length (cm)    6.9
petal width (cm)     2.5
Target               2.0
dtype: float64

In [203]:
iris.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
Target               1.000000
dtype: float64

In [204]:
g_data = iris.groupby("Target")
g_data

In [205]:
g_data.first()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
Target,,,,
0,5.1,3.5,1.4,0.2
1,7.0,3.2,4.7,1.4
2,6.3,3.3,6.0,2.5

In [207]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [208]:
g_data.last()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
Target,,,,
0,5.0,3.3,1.4,0.2
1,5.7,2.8,4.1,1.3
2,5.9,3.0,5.1,1.8

In [210]:
for name,g_info in g_data:
    print(name,"**",g_info)

0 **     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                 5.1               3.5                1.4               0.2
1                 4.9               3.0                1.4               0.2
2                 4.7               3.2                1.3               0.2
3                 4.6               3.1                1.5               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
7                 5.0               3.4                1.5               0.2
8                 4.4               2.9                1.4               0.2
9                 4.9               3.1                1.5               0.1
10                5.4               3.7                1.5               0.2
11                4.8               3.4                1.6               0.2
12                4.8               3.0                1.4               0.1
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2
15                5.7               4.4                1.5               0.4
16                5.4               3.9                1.3               0.4
17                5.1               3.5                1.4               0.3
18                5.7               3.8                1.7               0.3
19                5.1               3.8                1.5               0.3
20                5.4               3.4                1.7               0.2
21                5.1               3.7                1.5               0.4
22                4.6               3.6                1.0               0.2
23                5.1               3.3                1.7               0.5
24                4.8               3.4                1.9               0.2
25                5.0               3.0                1.6               0.2
26                5.0               3.4                1.6               0.4
27                5.2               3.5                1.5               0.2
28                5.2               3.4                1.4               0.2
29                4.7               3.2                1.6               0.2
30                4.8               3.1                1.6               0.2
31                5.4               3.4                1.5               0.4
32                5.2               4.1                1.5               0.1
33                5.5               4.2                1.4               0.2
34                4.9               3.1                1.5               0.2
35                5.0               3.2                1.2               0.2
36                5.5               3.5                1.3               0.2
37                4.9               3.6                1.4               0.1
38                4.4               3.0                1.3               0.2
39                5.1               3.4                1.5               0.2
40                5.0               3.5                1.3               0.3
41                4.5               2.3                1.3               0.3
42                4.4               3.2                1.3               0.2
43                5.0               3.5                1.6               0.6
44                5.1               3.8                1.9               0.4
45                4.8               3.0                1.4               0.3
46                5.1               3.8                1.6               0.2
47                4.6               3.2                1.4               0.2
48                5.3               3.7                1.5               0.2
49                5.0               3.3                1.4               0.2

    Target
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       0
34       0
35       0
36       0
37       0
38       0
39       0
40       0
41       0
42       0
43       0
44       0
45       0
46       0
47       0
48       0
49       0
1 **     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
50                7.0               3.2                4.7               1.4
51                6.4               3.2                4.5               1.5
52                6.9               3.1                4.9               1.5
53                5.5               2.3                4.0               1.3
54                6.5               2.8                4.6               1.5
55                5.7               2.8                4.5               1.3
56                6.3               3.3                4.7               1.6
57                4.9               2.4                3.3               1.0
58                6.6               2.9                4.6               1.3
59                5.2               2.7                3.9               1.4
60                5.0               2.0                3.5               1.0
61                5.9               3.0                4.2               1.5
62                6.0               2.2                4.0               1.0
63                6.1               2.9                4.7               1.4
64                5.6               2.9                3.6               1.3
65                6.7               3.1                4.4               1.4
66                5.6               3.0                4.5               1.5
67                5.8               2.7                4.1               1.0
68                6.2               2.2                4.5               1.5
69                5.6               2.5                3.9               1.1
70                5.9               3.2                4.8               1.8
71                6.1               2.8                4.0               1.3
72                6.3               2.5                4.9               1.5
73                6.1               2.8                4.7               1.2
74                6.4               2.9                4.3               1.3
75                6.6               3.0                4.4               1.4
76                6.8               2.8                4.8               1.4
77                6.7               3.0                5.0               1.7
78                6.0               2.9                4.5               1.5
79                5.7               2.6                3.5               1.0
80                5.5               2.4                3.8               1.1
81                5.5               2.4                3.7               1.0
82                5.8               2.7                3.9               1.2
83                6.0               2.7                5.1               1.6
84                5.4               3.0                4.5               1.5
85                6.0               3.4                4.5               1.6
86                6.7               3.1                4.7               1.5
87                6.3               2.3                4.4               1.3
88                5.6               3.0                4.1               1.3
89                5.5               2.5                4.0               1.3
90                5.5               2.6                4.4               1.2
91                6.1               3.0                4.6               1.4
92                5.8               2.6                4.0               1.2
93                5.0               2.3                3.3               1.0
94                5.6               2.7                4.2               1.3
95                5.7               3.0                4.2               1.2
96                5.7               2.9                4.2               1.3
97                6.2               2.9                4.3               1.3
98                5.1               2.5                3.0               1.1
99                5.7               2.8                4.1               1.3

    Target
50       1
51       1
52       1
53       1
54       1
55       1
56       1
57       1
58       1
59       1
60       1
61       1
62       1
63       1
64       1
65       1
66       1
67       1
68       1
69       1
70       1
71       1
72       1
73       1
74       1
75       1
76       1
77       1
78       1
79       1
80       1
81       1
82       1
83       1
84       1
85       1
86       1
87       1
88       1
89       1
90       1
91       1
92       1
93       1
94       1
95       1
96       1
97       1
98       1
99       1
2 **      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2
105                7.6               3.0                6.6               2.1
106                4.9               2.5                4.5               1.7
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
113                5.7               2.5                5.0               2.0
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
119                6.0               2.2                5.0               1.5
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Target
100       2
101       2
102       2
103       2
104       2
105       2
106       2
107       2
108       2
109       2
110       2
111       2
112       2
113       2
114       2
115       2
116       2
117       2
118       2
119       2
120       2
121       2
122       2
123       2
124       2
125       2
126       2
127       2
128       2
129       2
130       2
131       2
132       2
133       2
134       2
135       2
136       2
137       2
138       2
139       2
140       2
141       2
142       2
143       2
144       2
145       2
146       2
147       2
148       2
149       2

In [211]:
g_data.get_group(2)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2
105                7.6               3.0                6.6               2.1
106                4.9               2.5                4.5               1.7
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
113                5.7               2.5                5.0               2.0
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
119                6.0               2.2                5.0               1.5
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8