## Today Content
- Comprehensions
    - List
    - Dictionary
    - Sets
- Functional Programs
    - Lambda
    - map
    - filter

### Comprehensions

#### List Comprehensions

In [1]:
list1 = []
for i in range(0,11): ## for loop
    list1.append(i*2) ## statement
    
list1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### For loop using List Comprehensions
- **syntax:** 
    - [statement ___  for...loop]

In [2]:
[i*2 for i in range(0,11)]
## i*2 --> statement
## for i in reange(0,11) --> loop

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### Conditional statements

In [3]:
if 26%2 == 0:
    print('Even')
else:
    print('Odd')

Even

#### Conditional statements using comprehension
- **syntax:**
     - [Statement1 __ if(condition) __ else __ statement2]

In [4]:
['Even' if(26%2==0) else 'Odd']

['Even']

In [5]:
# list1
## number % 5, 7 ---> append in list1
## else print("numeric")

In [6]:
list2 = []
for number in range(0,26):
    if number%5 == 0:
        list2.append(number)
    elif number%7 == 0:
        list2.append(number)
    else:
        list2.append('Numeric')

In [7]:
list2

[0,
 'Numeric',
 'Numeric',
 'Numeric',
 'Numeric',
 5,
 'Numeric',
 7,
 'Numeric',
 'Numeric',
 10,
 'Numeric',
 'Numeric',
 'Numeric',
 14,
 15,
 'Numeric',
 'Numeric',
 'Numeric',
 'Numeric',
 20,
 21,
 'Numeric',
 'Numeric',
 'Numeric',
 25]

In [8]:
[number if number%5 == 0 else number if number%7 == 0 else 'Numeric' for number in range(0,26)]

[0,
 'Numeric',
 'Numeric',
 'Numeric',
 'Numeric',
 5,
 'Numeric',
 7,
 'Numeric',
 'Numeric',
 10,
 'Numeric',
 'Numeric',
 'Numeric',
 14,
 15,
 'Numeric',
 'Numeric',
 'Numeric',
 'Numeric',
 20,
 21,
 'Numeric',
 'Numeric',
 'Numeric',
 25]

In [9]:
paragraph = 'Explained: Why Adani Group shares plunged on stock market'

vowels1 = ['a','e','i','o','u']
vowels2 = []
for s in paragraph:
    for w in s:
        if w in vowels1:
            vowels2.append(w)
            
vowels2

['a', 'i', 'e', 'a', 'i', 'o', 'u', 'a', 'e', 'u', 'e', 'o', 'o', 'a', 'e']

#### Try to do above code using comprehensions

### Dictionary 
- Pair of keys and values seperated with :"
- **Syntax:**
    - {key : value ___  for..loop}

In [14]:
dict1 = {'a':100,'b':23,'c':'DataAnalysis','d':435,'e':'MachineLearning'}

d1 = {}
for key,value in dict1.items():
    d1[key] = value*3
    
d1

{'a': 300,
 'b': 69,
 'c': 'DataAnalysisDataAnalysisDataAnalysis',
 'd': 1305,
 'e': 'MachineLearningMachineLearningMachineLearning'}

In [13]:
dict1['c']

'DataAnalysis'

In [15]:
{key:value*3 for key,value in dict1.items()}

{'a': 300,
 'b': 69,
 'c': 'DataAnalysisDataAnalysisDataAnalysis',
 'd': 1305,
 'e': 'MachineLearningMachineLearningMachineLearning'}

In [16]:
{key:value*3 for key,value in dict1.items() if(type(value) == int)}

{'a': 300, 'b': 69, 'd': 1305}

### Task: Take a list of years between 1800 to 2031
- Display all the leap years which is divisible by 5

In [17]:
2024 % 5 == 0  # should not disply in output

False

### Functional Programming

### Lambda
- Anonymous function
- Creating small functions
    - **Syntax:** lambda arg1,arg2,..argN : Statement

In [18]:
add1 = 10 + 20
add1

30

In [19]:
type(add1)

int

In [20]:
def add2(x,y):
    print(x + y)
    
add2(10, 20)

30

In [23]:
type(add2)

function

In [24]:
add2

In [22]:
lambda x,y : x + y # Here lambda itself returns a function object

In [25]:
add3 = lambda x,y : x + y
add3(10, 20)

30

#### if...else in Lambda

In [28]:
def value(x2):
    if x2>10 and x2<20:
        return True
    else:
        return False
value(12)

True

In [29]:
value2 = lambda x2 : True if(x2>10 and x2<20) else False
value2(15)

True

#### Without using keywords

In [30]:
value3 = lambda x2 : (x2>10 and x2<20)

In [31]:
value3(18)

True

In [32]:
value3(28)

False

### map()
- map() function can take functions as a parameter.
    - **syntax:** map(function, iterable1, iterable2,..)

In [35]:
def multi(a):
    return a * a
print(multi(3))
print(multi(4))
print(multi([1,2,3])) # Error

9
16

TypeError: can't multiply sequence by non-int of type 'list'

In [36]:
def multi2(a):
    return a * a

for i in [1,2,3,4]:
    print(multi2(i))

1
4
9
16

In [37]:
def multi3(a):
    return a * a

map(multi3, [1,2,3,4])# Returns map object

In [38]:
list(map(multi3, [1,2,3,4]))
##  map(function, iterable_values)

[1, 4, 9, 16]

- To display output for map(), we need to use list or tuple or set but not dictionary

In [40]:
students = ['Krishna','Barath','Sandhya']
set(map(str.upper, students))

{'BARATH', 'KRISHNA', 'SANDHYA'}

In [39]:
'Krishna'.upper()

'KRISHNA'

#### map() using Lambda

In [41]:
list(map(lambda x : x**3, [1,2,3,4]))
#   map(   function     ,   iterables)

[1, 8, 27, 64]

In [42]:
list(map(lambda x2 : x2%2 == 0,  range(5,25)))# Returns Boolean data

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

#### filter()
- **Syntax:**
    - filter(function, iterables)

In [45]:
filter(lambda x2 : x2%2 == 0, range(5,25))

In [46]:
list(filter(lambda x2 : x2%2 == 0, range(5,25)))# Filters the output which condition is satisfied

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

#### Task: Use lambda function
- Take 'x' value
- If x is less than 10, return x*2
- else x is between 10 and 20, return x * 3
- else return x