### K Nearest Neighbours Classifier
- Knn is easy to implement
- It supports for both classification and Regression

### How does the KNN works
- Step1: Select K no of neighbours i.e k = 3,4,5,(Take Odd values for better result)
- Step2: Calculate euclidien distance between data point and nearest neighbours
    - **Formula**:
        - ***sqrt ( (x2-x1)^2 + (y2 - y1)^2 )***
- Step3: Assign the new data pooint to the majority nearest neighbour class

#### Advantages and Disadvantages
- Mainly used for Multinomial classification
- With huge dataset, the prediction might be slow

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Tshirt_size.csv')

In [3]:
df.head()

   Height  Weight Shirt_Size
0     158      58          m
1     158      59          m
2     158      63          m
3     160      59          m
4     160      60          m

In [5]:
df.isnull().sum().sum()

0

In [7]:
df.shape

(18, 3)

In [6]:
X = df[['Height','Weight']] ## Input 
Y = df['Shirt_Size']  ## Target

#### Apply KNN Classifier model

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
knn = KNeighborsClassifier(n_neighbors = 3) ## By default n_neighbors = 5
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [12]:
knn.fit(X,Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [13]:
Y_predict = knn.predict(X)
Y_predict

array(['m', 'm', 'm', 'm', 'm', 'm', 'm', 'l', 'l', 'l', 'l', 'l', 'l',
       'l', 'l', 'l', 'l', 'l'], dtype=object)

In [14]:
X.head()

   Height  Weight
0     158      58
1     158      59
2     158      63
3     160      59
4     160      60

In [15]:
Y[:5]

0    m
1    m
2    m
3    m
4    m
Name: Shirt_Size, dtype: object

### Evaluation Metrics
- Confusion matrix
- Accuracy

In [16]:
### Confusion Matrix
## ===========================

### Cats = 50, Birds = 50, Humans = 50
##--------------------------------------
##
##          Cats          Birds          Humans
##  Cats     50            0              0
## Birds      0            48             2
## Humans     0            5              45

In [17]:
### Accuracy Score
##===================

##                         TP  +  TN
## accuracy_score = -----------------------
##                   Tp +  TN  + FP  +  FN

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y, Y_predict)

array([[11,  0],
       [ 0,  7]], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(Y, Y_predict)

1.0

In [20]:
k = 3
accu = 70

k = 5
accu = 90

In [21]:
df2 = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/IRIS.csv')

In [22]:
df2.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [24]:
df2.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [25]:
df2['species'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: species, dtype: int64

In [27]:
df2.shape

(150, 5)

In [30]:
X2 = df2[['sepal_length','sepal_width','petal_length','petal_width']]
Y2 = df2['species']

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
## K = 3

knn2 = KNeighborsClassifier(n_neighbors = 3)

In [34]:
knn2.fit(X2,Y2)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [35]:
Y_predict2 = knn2.predict(X2)
Y_predict2

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'], dtype=object)

In [36]:
knn2.predict([[5.1,3.5,1.4,0.2]])

array(['Iris-setosa'], dtype=object)

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(Y2, Y_predict2)

0.96

In [38]:
## K = 5
knn3 = KNeighborsClassifier(n_neighbors = 5)

In [39]:
knn3.fit(X2,Y2)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [40]:
Y_predict3 = knn3.predict(X2)
Y_predict3[:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa'], dtype=object)

In [41]:
accuracy_score(Y2, Y_predict3)

0.9666666666666667

### Task
- Get your own classification dataset from kaggle or any website, Apply KNN (K = 3, 5 and 7)
- Check accuracy individually